* {
  margin: 0px;
  padding: 0px;
}
.link {
  text-decoration: none;
}
.container {
  width: 300px;
  display: block;
  margin: auto;
  padding-top: 10px;
}
button {
  cursor: pointer;
  
}

@import "header";
@import "home";
